<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu" style="padding-left:0;">
                <li class="menu-title">Menu</li>

                <li>
                    <a href="/admin/editor/home" class="waves-effect">
                        <i class="ri-dashboard-fill"></i>
                        <span>Ana Sayfa</span>
                    </a>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="ri-store-2-fill"></i>
                        <span>Tedavi Yönetimi</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/admin/tedavi/tedaviler">Tedaviler</a></li>
                        <li><a href="/admin/tedavi/tedaviekle">Tedavi Ekle</a></li>

                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="ri-building-2-fill"></i>
                        <span>Slider</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/admin/slider/sliderlar">Sliderlar</a></li>
                        <li><a href="/admin/slider/sliderkayit">Slider Ekle</a></li>
                    </ul>
                </li>

                @*<li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="ri-shopping-bag-2-fill"></i>
                        <span>Randevular</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/admin/editor/randevu">Başvurular</a></li>
                    </ul>
                </li>*@

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="ri-settings-2-fill"></i>
                        <span>Ayarlar</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/admin/hesap/kullanicilar">Kullanıcılar</a></li>
                        <li><a href="/admin/hesap/roller">Roller</a></li>
                        <li><a href="/admin/hesap/kullanicikayit">Kullanıcı Kayıt</a></li>
                        <li><a href="/admin/hesap/rolkayit">Rol Kayıt</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</div>
