<meta charset="utf-8" />
<title>@ViewBag.Title | Sarıyer Pedodonti</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta content="Sarıyer Pedodonti" />
<meta content="İkifikir" name="author" />
<!-- App favicon -->
<link rel="shortcut icon" href="~/adminpanel/assets/images/favicon.ico">